* {
    font-family: 'avenir';
}

.header {
	text-align: center;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.widget {
    position: absolute;
    right: 15px;
    top: 15px;

    img {
        height: 40px;
    }
}

.dropzone-container {
    min-height: 100px;

    .dropzone {
        width: 100%;
        min-height: 160px;
        border: 1px solid gray;

        &.active {
            border: 1px solid red;
        }

        &.editing {
            border: 1px solid gray;
        }

        .dz-tools {
            position: relative;
            text-align: right;
            padding-right: 8px;
            padding-top: 2px;
            display: none;
            background-color: rgb(217, 217, 217);
            color: #df3018;
            border: 1px solid black;

            i {
                margin: 2px;
                font-size: 14px;
            }

            .delete-dz {
                position: relative;
                top: -.5px;
            }
        }

        .row {
            display: block;
            vertical-align: top;
        }

        .col {
            display: inline-block;
            width: 50%;
            vertical-align: top;

            &.is-row {
                width: 100%;
            }
        }   
    }

}