doctype
html
  head
    title Mozu
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href="min/styles/main.css")
    script(src='vendor/jquery.min.js')
    - each s in scripts
      script(src=s)
  body
    header
      div(class='switch')
        span Layout Mode
        input(type='checkbox' checked='true')

      h1(class="header") Layout Prototype
      div
        div(class='widget')
          img(src='http://upload.wikimedia.org/wikipedia/commons/c/c8/Widget_icon.png')

      hr
    .container
      .dropzone-container
    .container(style='margin-top:40px;')
      .dropzone-container
